<!doctype html>
<html ng-app>

<head>
    <title>Exchange</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/exchange.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div ng-include="'/partials/nav.html'"></div>
    </nav>

    <div class="container-fluid content">

        <div class="row">

            <div class="col-xs-1" id="myItems">
                <% if (userItems) { %>
                    <h3> You </h3>
                    <% userItems.forEach( function( item ){
                        if( item ){  %>
                            <div class="item"><%= item.name %></div>    
                        <% } %>
                    <% }); %>
                <% } %>
            </div>

            <div class="col-xs-10" id="exchange">
                <div class="row">

                    <div class="col-xs-6" id="myExchangeItems">
                        <% if (userItems) { %>
                            <h3> <%= user.username %> </h3>
                            <% userItems.forEach( function( item ){
                                if( item ){  %>
                                    <div class="item" ng-show="true"><%= item.name %></div>    
                                <% } %>
                            <% }); %>
                        <% } %>
                    </div>

                    <div class="col-xs-6" id="theirExchangeItems">
                        <% if (recipientItems) { %>
                            <h3> <%= recipient.username %> </h3>
                            <% recipientItems.forEach( function( item ){
                                if( item ){  %>
                                    <div class="item"><%= item.name %></div>    
                                <% } %>
                            <% }); %>
                        <% } %>
                    </div>

                </div><!-- row -->

                <div class="row" id="exchangeDecision">
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-outline-primary">Send offer</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-outline-danger">Cancel offer</button>
                    </div>
                </div>

            </div><!-- exchange -->

            <div class="col-xs-1" id="theirItems">
                <% if (recipientItems) { %>
                    <h3> <%= recipient.username %> </h3>
                    <% recipientItems.forEach( function( item ){
                        if( item ){  %>
                            <div class="item"><%= item.name %></div>    
                        <% } %>
                    <% }); %>
                <% } %>
            </div>

        </div>


    </div>
    
</body>
</html>
